*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    background: #FFF;
}
/* style for nav bar */
.top-part{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 200px;
    margin-bottom: 50px;
}
.nav-bar{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;

}

.elite{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 20px;
    

}
.elite img{
    width: 50px;
    height: 60px;
    object-fit: cover;
   
}
.elite p{
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 30px;
}
.elite .travel{
    color: #FF5400;
}
.home a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.home a:first-child{
    color: #FF5400;
}
.home{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore h1{
   
font-family: Mulish;
font-size: 60px;
font-weight: 800;

}
.header-img{
    object-fit:cover;
    margin-top: 20px;
    position: relative;
}
.explore{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: -27%;
    margin-left: 300px;

    

}
.explore h1{
    color: #FFF;
    width: 600px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.explore p{
    color: #FFF;
    width: 600px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}
.where input{
    width: 174px;
    height: 52px;
    padding-left: 10px;
    border: 0;
    border-radius: 8px
}
.when{
    position: relative;
}
.when input{
    width: 174px;
    height: 52px;
    padding-left: 10px;
    border: 0;
    border-radius: 8px
}
.when img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 140px;
    margin-top: 10px;

}
.select{
    position: relative;
}
.select input{
    width: 174px;
    height: 52px;
    padding-left: 10px;
    border: 0;
    border-radius: 8px
    
}
.select img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 140px;
    margin-top: 10px; 
}
.btn{
    padding-bottom: 10px;
    position: relative;
}
.btn-primary{
    background-color: #FF5400;
    width: 174px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: 8px;
}
.btn img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 20px

}
.input-details{
    width: 800px;
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-top: -15%;
    margin-left: 200px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    
}
/* nav and header style finished */
/* section-1 style below */
.main-tour{
    margin-top: 100px;
    max-width: 1200px;
    margin: 0 auto;

}

.popular-tours{
    margin-top: 100px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.popular-tours-details{
    width:50%
}
.popular-tours-details h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}
.popular-tours-details p,ul{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

}
.popular-tours-details, ul{
    left: 50px;
}
..popular-img{
    width: 50%;
}
.popular-img img{
    width:100%;
    height:100%
    object-fit:cover;
}
/* section-1 finished */
/* secttion-2 start */

.country-pics{
    margin-bottom:100px;
    
}
.destination{
    
    align-items: center;
}
.destination h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}
.destination p{
    width: 600px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.pics-container{
    width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;

}
.pics-container img{
    width: 100%;
    height:100%;
}
.pic-1{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    position: relative;
    
}
.pic-1 .mal{
    color: #FFF;
    width: 30px;
    height: 10px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 40%;
    
}
.pic-2{
    grid-column: 7/span 12;
    grid-row: 1/span 1;
    position: relative;

    
}
.pic-2 .ind{
    color: #FFF;
    width: 30px;
    height: 10px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 40%;
}
.pic-3{
    grid-column: 1/span 4; 
    grid-row: 2/span 1;
    position: relative;
    
}
.pic-3 .sri{
    color: #FFF;
    width: 30px;
    height: 10px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 35%;
}
.pic-4{
    width: 50%;
    grid-column: 5/span 8;
    grid-row: 2/span 1; 
    position: relative;
    
}
.pic-4 .north{
    color: #FFF;
    width: 150px;
    height: 20px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 40%;  
}
.pic-5{
    margin-left: 5px;
    width: 95%;
    grid-column: 9/span 12; 
    grid-row: 2/span 1;
    position: relative;
}
.pic-5 .kash{
    color: #FFF;
    width: 150px;
    height: 20px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 40%;  
}
.pic-6{
    grid-column: 1/span 5; 
    grid-row: 3/span 1;
    position: relative;
}
.pic-6 .bang{
    color: #FFF;
    width: 150px;
    height: 20px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 40%;  
}   
.pic-7{
    grid-column: 6/span 12; 
    grid-row: 3/span 1;
    position: relative;
}
.pic-7 .band{
    color: #FFF;
    width: 150px;
    height: 20px;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left: 40%; 
}
 /*section-2 style end  */
 /* section-3 style start */
 


 .why-choose h3{
    
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    

 }
 .why-choose p{
    
    width: 500px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-left: 350px;
 } 

 .card-1 img, h3, p{
    margin-left: 30px;
    margin-top: 30px;
 }
 .card-2 img, h3, p{
    margin-left: 30px;
    margin-top: 30px;
 }
 
 .card-1 {
    
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
 }
 .card-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
 }
 .cards-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
 }
 .card-3 img, h3, p{
    margin-left: 30px;
    margin-top: 30px;
 }
 .card-3{
    margin-left: 320px;
    margin-top: 25px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

 }
/* section-3 end */
/* section-4 start */
.news h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
   
}
.newsletter{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.news{
    width: 480px;
    height: 430px;
}
.news p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.news hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.news input, button{
    padding-left: 20px;
    display: block;
    width: 393px;
    height: 52px;
    margin-top: 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.news .subs{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
}
.save{
    width: 598px;
    height: 422px;

}
.save img{
    width: 596px;
    height: 422px;
    
    position: relative;
}
.save .save-70{
    
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    transform: rotate(-27deg);
    position: absolute;
    bottom: -406%;
    left: 65.7%;
}
/* section-4 style end */
/* footer start */

.div-logo{
    margin-top: 200px;
    padding-top: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.end-part{
    border: 0;
    margin: 0;
    margin-top: 100px;
    height: 420px;
    background: rgba(19, 19, 24, 0.05);
}

.div-logo img{
    width: 40px;
    height: 46.673px;
    
}
.div-logo p{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 30px;
}
.div-logo .trav{
    color: #FF5400;
    
}

.world{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.world p{
    color: #5A5A5D;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social img{
    width: 174.322px;
    height: 24px;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line img {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    
}
copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
/* footer style end */
/* responsive part */
